header{
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header-item{
    position: relative;

    width: 400px;
    height: 500px;
    color: #fff;
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}
.header-item h1{
    text-align: center;
    font-size: 40px;

}
.header-item button{
    background-color: peru;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 50px;
    font-size: 16px;

}
.header-item p {
    font-size: 12px;
}
.text-item{
    margin-top: 50px;
    position: absolute;
    float: right;

    
}
/* ---about section---- */
.about-item{
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: baseline;
    gap: 200px;
}

.about-text{
    margin-top: 50px;
}
.about-item img{
width: 300px;
}
