header{
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header-item{
    position: relative;

    width: 400px;
    height: 500px;
    color: #fff;
    text-align: center;
    margin: 30px;
    margin-top: 50px;
}
.header-item h1{
    text-align: center;
    font-size: 40px;

}
.header-item button{
    background-color: peru;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 50px;
    font-size: 16px;

}
.header-item p {
    font-size: 12px;
}
.text-item{
    margin-top: 50px;
    position: absolute;
    float: right;

    
}
/* ---about section---- */
.about-item{
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: baseline;
    gap: 300px;
}

.about-text{
    margin-top: 50px;
}
.about-item img{
width: 300px;
}

/* --plan section-- */
.plan-item{
    width: 800px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    margin-left:150px;
    margin-top: 50px;
}
.plan-container h1{
    margin-left: 300px;
    color: #fff;
}
.plan-item img{
width: 100px;
}
.plan-item p{
    color: gray;
}

/* colling section */

.coling-container{
background-image: url(images/watch.png);
background-repeat: no-repeat;
background-size: 600px;
width: 900px;
height: 300px;
margin-left: 200px;

}
.call-btn{

    background-color: #fff;
    color: coral;
    border-style: none;
    border-radius: 3px;
    height: 40px;
    width: 80px;
    margin-left: 10px;
}

/* footer section */
.footer-container{
    background-color:black;
    color: #fff;
    height: 400px;
}
.footer-container h2{
    margin-left: 100px;
}
.footer-item{
    display: flex;
    gap: 40px;
    margin: 20px 20px 20px 20px;
    width: 800px;
    padding: 10px;margin-left: 50px;
}
.future p{
font-size: 10px;
}
.footer-icon{
    display: flex;
    gap: 10px;
}

.subscribe input{
    border-radius: 5px;
    height: 30px;

}
.subscribe button{
background-color: blue;
color: #fff;
margin-top: 10px;
}